<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener App</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        h1 {
            text-align: center;
        }

        .form-container {
            margin-bottom: 20px;
        }

        .form-container input[type="text"] {
            width: 300px;
            height: 30px;
            padding: 5px;
            font-size: 14px;
        }

        .form-container input[type="submit"] {
            height: 30px;
            padding: 5px 15px;
            font-size: 14px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>

<body>
    <h1>URL Shortener</h1>

    <div class="form-container">
        <form id="urlForm" method="POST">
            <label for="urlInput">Enter URL:</label>
            <input type="text" id="urlInput" name="urlInput" required placeholder="http://this.is.way/too/long?isnt=it">
            <label for="aliasInput">Enter alias:</label>
            <input type="text" id="aliasInput" name="aliasInput"placeholder="http://localhost:3000/......">
            <input type="submit" value="Shorten URL">
        </form>
    </div>

    <div class="table-container">
        <table id="urlTable">
            <tr>
                <th>Original URL</th>
                <th>Shortened URL</th>
            </tr>
            <tr>
                <% for(let u of urls ){ %>
                    <tr>
                        <th><%= u.url %></th>
                        <th><%= u.alias %></th>
                    </tr>
                <% } %>
            </tr>
        </table>
    </div>
</body>

</html>